<web-app>
<servlet>
<servlet-name>abhi</servlet-name>
<servlet-class>ServerDemo1</servlet-class>
</servlet>


<servlet>
<servlet-name>abhi1</servlet-name>
<servlet-class>ServerDemo2</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abhi</servlet-name>
<url-pattern>/abc</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>abhi1</servlet-name>
<url-pattern>/wel</url-pattern>
</servlet-mapping>
</web-app>








